table {
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
}

th {
  box-sizing: border-box;
  font-weight: normal;
  padding: 10px 15px 10px 0px;
  text-align: unset;
  font-weight: 600;
  border-bottom: 1px solid rgba(160, 174, 192, 1);
  font-size: 12px;
  font-variant-numeric: tabular-nums;
  line-height: 25px;
}

td {
  box-sizing: border-box;
  padding: 10px 15px 10px 0px;
  border-bottom: 1px solid rgba(160, 174, 192, 1);
  font-size: 13px;
  font-variant-numeric: tabular-nums;
  line-height: 25px;
}

.dark th,
.dark td {
  border-bottom-color: rgba(45, 55, 72, 1);
}
