.DS_Store
.cache
.vscode
.idea
.expo
.gradle
.project
.settings
.history

local.properties

/coverage/
/dist/
/lib/

node_modules/

xcuserdata
generated
lib
build

npm-debug.*

*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*